body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#table-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #fff;
}